.App {
  text-align: center;
  background-color:#000000;
  color: white;
  height: 100vh;
}
.drivemode{
  display: inline-block;
  }
  .endgame {
    display: inline-block;

  }
#body {
  background-color: black;
  overflow: hidden;
}



